<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/html/css/bootstrap.css" rel="stylesheet">
    <script src = "/html/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container-xl w-50 mt-5">
        <div class="card">
            <div class="card-header text-white bg-primary row m-0">
                <div class="col-7">
                    <h1 class="display-6">Manage  <strong>Project Phases</strong></h1>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-dark mt-2 ms-4">Delete Phase</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success mt-2 ms-4" data-bs-toggle="modal" data-bs-target="#taskAddModal">Add Task</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Phase Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">StartDate</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</body>
</html>