<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/html/css/bootstrap.css" rel="stylesheet">


    <script type="text/javascript" th:src="@{/html/js/bootstrap.bundle.js}"></script>


</head>
<body>


<div class="container-xl w-50 mt-5">
    <div class="card">
        <div class="card-header text-white bg-secondary row m-0">
            <div class="col-10">
                <h1 class="display-6">Manage <strong>Tasks</strong></h1>
            </div>
            <div class="col-2">
                <a th:href="@{/task/add}" type="button" class="btn btn-success mt-2 ms-4">Add Task</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover" id="tasks">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Points</th>
                    <th scope="col">DeadLine</th>
                    <th scope="col">State</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${allTasks}">
                    <td><span th:text="${task.getId()}"></span></td>
                    <td><span th:text="${task.getTaskContent()}"></span></td>
                    <td><span th:text="${task.getPoints()}"></span></td>
                    <td><span th:text="${task.getDeadline()}"></span></td>
                    <td><span th:text="${task.getState()}"></span></td>
                    <td><span th:text="${task.getPriority()}"></span></td>
                    <td><a th:href="@{/task/edit/{id}(id=${task.getId()})}" class="btn btn-info">EDIT</a>
                        <a th:href="@{/task/delete/{id}(id=${task.getId()})}" class="btn btn-danger">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>