<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/html/css/bootstrap.css" rel="stylesheet">
    <script src = "/html/js/bootstrap.bundle.js"></script>

</head>
<body>

<div class="container-xl w-50 mt-5">
    <div class="card">
        <div class="card-header text-white bg-secondary row m-0">
            <div class="col-10">
                <h1 class="display-6">Manage  <strong>Tasks</strong></h1>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-success mt-2 ms-4" data-bs-toggle="modal" data-bs-target="#taskAddModal">Add Task</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Points</th>
                    <th scope="col">DeadLine</th>
                    <th scope="col">State</th>
                    <th scope="col">Priority</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="taskAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/task/add}" th:object="${taskForm}">

                    <div class="mb-3">
                        <label for="taskContent" class="form-label">Task</label>
                        <input type="text" class="form-control" id="taskContent" aria-describedby="taskContentHelp " name="taskContent" th:field="*{taskContent}">
                        <div id="taskContentHelp" class="form-text">Enter task content</div>
                    </div>

                    <div class="mb-3">
                        <label for="taskPoints" class="form-label">Points</label>
                        <input type="number" class="form-control" id="taskPoints" aria-describedby="taskPointsHelp"  name="points" th:field="*{points}">
                        <div id="taskPointsHelp" class="form-text">Enter task points</div>
                    </div>

                    <div class="mb-3">
                        <label for="taskDeadLine" class="form-label">Due Date</label>
                        <input type="text" class="form-control" id="taskDeadLine" aria-describedby="taskDeadLineHelp"  name="deadline" th:field="*{deadline}">
                        <div id="taskDeadLineHelp" class="form-text">Enter task due date</div>
                    </div>


                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>